:root{
  --background: #f6f6f6;
  --border: #333;
  --calculator: #aaa;
  --btn: #eee;
  --btn-red: #faa;
  --btn-blue: #aaf;
}

.clearBtn{
  background-color: var(--btn-red);
  border-color: var(--border);
  border: solid;
}
.deleteBtn{
  background-color: var(--btn-blue);
  border-color: var(--border);
  border: solid;
}

.calcBody{
  background-color: var(--calculator);
  border-color: var(--border);
  border: solid;
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 500px;
  margin: auto;
  margin-top: 100px;
  border-radius: 25px;
}
.calcDisplay{
  border-radius: 15px;
  display: flex;
  background-color: grey;
  flex: 1;
  margin: 10px;
  margin-bottom: 1px;
}
.equationDiv{
  flex: 1;
  padding: 10px;
  font-size: xx-large;
}
.resultDiv{
  flex: 1;
  align-self: flex-end;
  padding-left: auto;
  font-size: xx-large;
  text-align: right;
  padding: 10px;
}

.calcFunctions{
  display: flex;
  flex: 1;
  padding: 5px;
  gap: 5px;
}
.calcFunctions button{
  flex: 1;
}
.restOfBtns{
  display: flex;
  flex-direction: column;
  flex: 6;
  flex-wrap: wrap;
}
.firstRow{
  display: flex;
  flex: 1;
  padding: 5px;
  gap: 5px;
}
.secondRow{
  display: flex;
  flex: 1;
  padding: 5px;
  gap: 5px;
}
.thirdRow{
  display: flex;
  flex: 1;
  padding: 5px;
  gap: 5px;
}
.fourthRow{
  display: flex;
  flex: 1;
  padding: 5px;
  gap: 5px;
}

.restOfBtns button{
  flex: 1;
  background-color: var(--btn);
  border-color: var(--border);
  border: solid;

}

body{
  background-color: var(--background);
}
.btnSection{
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  flex: 4;
  margin: 10px;
}

.btnSection button{
  border-radius: 25px;

}

